* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    min-width: 100vh;
}

.flexBlock {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    margin: 25px 213px;
}

.container .namesOfDays {
    display: grid;

    width: 100%;
    grid-template-columns: repeat(7, auto);
    column-gap: 45px;
}

.container .calendar {
    display: grid;

    grid-template-columns: repeat(7, auto);
    column-gap: 45px;
    row-gap: 20px;
}
.day {
    background-color: red;
}

.previousMonth {
    background: gray;
}
